# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
*.Rdata

DS_Store files from a mac
.DS_Store

#gff and gtf files (too large)
*.gtf
*.gff

#compiled python packages
*.pyc
.Rdata
.Rproj.user
Manuscripts/Muscle Tsc1 Knockout Paper/~$nuscript.docx
Manuscripts/Muscle Tsc1 Knockout Paper/~$nuscript.docx
Manuscripts/Muscle Tsc1 Knockout Paper/~$nuscript.docx
Manuscripts/GDF15 Ketogenic Diet Paper/~$nuscript.docx
Manuscripts/Mammary Gland aTSC/~$nuscript.docx
*.bin
